<h1 mat-dialog-title>Task node details</h1>
<div mat-dialog-content>
  <h4>
    Name
  </h4>
  <div class="details-name-container">
      <mat-form-field>
        <input matInput [(ngModel)]="name">
      </mat-form-field>
  </div>

  <h4>
    Description
  </h4>
  <div class="details-description-container">
    <mat-form-field>
      <input matInput [(ngModel)]="description">
    </mat-form-field>
  </div>

  <h4>
    Assigned to
  </h4>
  <div class="details-assignee-container">
    <mat-select style="height: 40px" [(ngModel)]="asignee" name="asignee">
      <mat-option *ngFor="let userData of users" [value]="userData.id">
        {{userData.name}}
      </mat-option>
    </mat-select>
  </div>

  <h4>
    Status
  </h4>
  <div class="details-status-container">
    <mat-select style="height: 40px" [(ngModel)]="status" name="status">
      <mat-option *ngFor="let status of statuses" [value]="status.value">
        {{status.viewValue}}
      </mat-option>
    </mat-select>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="Destroy(1)">Close</button>
  <button mat-button cdkFocusInitial (click)="Update()">Update</button>
</div>