<h1 mat-dialog-title>Create a new task node</h1>
<div mat-dialog-content>
  <p>Enter the display name of the new task node</p>
  <mat-form-field>
    <input matInput [(ngModel)]="name">
  </mat-form-field>
  <p>Enter a short description for the new task node</p>
  <mat-form-field>
    <input matInput [(ngModel)]="description">
  </mat-form-field>
  <p>How many days will it take to complete this task?</p>
  <mat-form-field>
    <input matInput [(ngModel)]="completionTime">
  </mat-form-field>
  <p>What should the status of this new task be?</p>
  <mat-select style="height: 40px" [(ngModel)]="status" name="status">
    <mat-option *ngFor="let status of statuses" [value]="status.value">
      {{status.viewValue}}
    </mat-option>
  </mat-select>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="Destroy(1)">Cancel</button>
  <button mat-button cdkFocusInitial (click)="OnCreate()">Create</button>
</div>