@import '../../styles/core.scss';

$header-height: 50px;

.acc-header
{
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 5px;

    height: $header-height;

    border-style: solid;
    border-radius: 5px;
    border-width: 2px;

    .logo-container
    {
        display: inline;
        margin-left: 5px;
        margin-right: auto;
    }

    .header-menu
    {
        display: flex;
        margin-left: auto;        

        .profile-container
        {
            margin-right: 5px;
        }

        .logout-container
        {
            margin-right: 5px;
        }
    }
}

.mat-icon-button
{
    line-height: unset;
}