<mat-toolbar class="acc-header">
  <div class="logo-container">
      <p class="logo">ACCELERANT</p>
  </div>
  <div class="header-menu flex-right">
    <div class="profile-container">
      <button mat-icon-button class="profile-button mat-icon-button button">
        <mat-icon>person</mat-icon>
      </button>
    </div>
    <div class="logout-container">
      <button (click)="Logout()" mat-icon-button class="logout-button mat-icon-button button">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>