<h1 mat-dialog-title>Create a workspace...</h1>
<div mat-dialog-content>
  <p>What should the workspace be called?</p>
  <mat-form-field>
    <input matInput [(ngModel)]="name">
  </mat-form-field>
  <p>Please enter a short description for your workspace!</p>
  <mat-form-field>
    <input matInput [(ngModel)]="description">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="Destroy(1)">Cancel</button>
  <button mat-button cdkFocusInitial (click)="CreateWorkspace()">Create</button>
</div>